<h1>
  List of all departments
</h1>

<hr>

<form action="/insert_department" method="post">
  <div>
    <label for="name_box">
      Name
    </label>

    <input type="text" id="name_box" name="query_name">
  </div>

  <button>
    Create department
  </button>
</form>

<hr>

<table class="table" border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
    </th>
  </tr>

  <% @departments.each do |department| %>

    <tr>
      <td>
            <% matching_departments = Department.where({ :id => department.id }) %>
      
        <% the_department = matching_departments.at(0) %>

            <% if the_department == nil %>
    Uh oh! We weren't able to find this department.
    <% else %>

        <%= the_department.id %>

    <% end %>
      </td>

      <td>

  <% matching_departments = Department.where({ :id => department.id }) %>
      
        <% the_department = matching_departments.at(0) %>

            <% if the_department == nil %>
    Uh oh! We weren't able to find this department.
    <% else %>

        <%= the_department.name %>

    <% end %>

      </td>

      <td>

        <% matching_departments = Department.where({ :id => department.id }) %>
      
        <% the_department = matching_departments.at(0) %>

            <% if the_department == nil %>
    Uh oh! We weren't able to find this department.
    <% else %>

        <a href="/departments/<%= the_department.id %>">
          Show details
        </a>

           <% end %>
      </td>
    </tr>
  <% end %>
</table>

<hr>
